// Place all the styles related to the admin_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.contact-list-container {
  background-color: white;
  margin: 100px auto;
  padding: 30px;
  width: 500px;
}
